.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts

# Local dev files
opencode-dev
logs/
*.bun-build
birdclef-2026/analysis/knn_retrieval/knn_index.pkl
birdclef-2026/inference_notebooks/knn_index_bundle/knn_index.pkl
